{% extends 'main/header.html' %}

{% block content %}

    <div class="container">
        <h1> About Us</h1>
        <p> We are The Registered Documents Writers,established in 2001
            Under Registrations and Stamps Department, Government of Telangana,
            to bring about coordinated efforts for the development of
            Registration processes and works by pooling of services
             from the Department to serve the nation.</p>
        <strong>Made Easy Registrations.....</strong>
    </div>
{% endblock %}