{% extends 'main/header.html' %}

{% block content %}

    <div class="container">
        <h1> <u>Contact Us </u></h1>
        <p> <b><h5>Saike Sampath,</h5></b> <br>
            District Document Writer,<br>
            Shop No:33,Kavitha Complex,<br>
            Near Railway Station,Nizamabad,<br>
            Telangana, Pin:503 001,<br>
            ph:9885425588,<br>
            Email: sampath@gmail.com<br>
        </p>
        <strong><h3>Made Easy Registrations..... </h3></strong>
    </div>
{% endblock %}