{% extends 'main/header.html' %}
{% load static %}

{% block content %}
  <div class="row">

 <div class="clearfix"></div>
      <!--start info service-->
 <div class="wow fadeInDown container info_service animated" style="visibility: visible; animation-name: fadeInDown;">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fadeInDown">
                <div class="serviceBox1">
                    <h2 class="text-center">OFF-LINE SERVICES</h2>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <a href="#" target="_self">
                            <img src="{% static 'main/images/property.png' %}" alt="houseicon">  Land Surveying
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <a href="#" target="_self">
                            <img src="{% static 'main/images/marriage.png' %}" alt="marriageicon"> Building Plans with Vastu
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <a href="#" target="_self">
                            <img src="{% static 'main/images/society.png' %}" alt="societyicon"> Movable Property Sale Registration
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <a href="#" target="_self">
                            <img src="{% static 'main/images/firm.png' %}" alt="firmicon"> Building Contracts
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <a href="#" target="_self">
                            <img src="{% static 'main/images/chitfund.png' %}" alt="chitfundicon"> Property Sales & Purchases
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <a href="#stampNotaryFranking.htm" target="_self">
                            <img src="{% static 'main/images/stamp.png' %}" alt="stampicon"> Stamp Vendors / Notaries / Franking services
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <a href="#dashboard.htm" target="_self">
                            <img src="{% static 'main/images/dashboard.png' %}" alt="dashboardicon"> Housing Loans
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <a href="#" target="_self">
                            <img src="{% static 'main/images/sro.png'  %}" alt="sroicon"> Know Your SRO
                        </a>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <a href="#" target="_self">
                            <img src="{% static 'main/images/feedback.png' %}" alt="feedbackicon"> Feedback / Contact Us
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 fadeInDown">
                <div class="serviceBox4">
                    <h2 class="intro text-center">ONLINE SERVICES</h2>

                    <div class="col-lg-12 col-md-12 col-sm-6">
                        <!--<a href="/ProhibitedProperties.htm" target="_new">-->
                        <a href="#" target="_self">
                            <img src="{% static 'main/images/Prohibition-Properties.png' %}" alt="prohibitedpropertyicon">  Property Sale Deed Registration
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6">
                        <a href="#" target="_self">
                            <img src="{% static 'main/images/cert-copy.png' %}" alt="cert-copyicon"> Certified Copy
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6">
                        <a href="#" target="_new">
                            <img src="{% static 'main/images/ec-search.png' %}" alt="ec-gpaicon"> Encumbrance Search(EC)
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!--end info service-->
        <div class="clearfix"></div>

  </div>
{% endblock %}